In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Emploi-parSecteur-DATASET.csv")

In [3]:
df.head()

,Indicateurs: Clé,Date,MIlieu,Sexe,Secteur d''activité: Nom,Régions: Nom,Faits: Valeur
0,28001579,2014-01-01 00:00:00,Rural,Féminin,"Education, Santé et services administratifs",Nord Est,9325
1,28001579,2014-01-01 00:00:00,Rural,Féminin,Autres services,Nord Est,5220
2,28001579,2014-01-01 00:00:00,Rural,Féminin,Non Declaré,Nord Est,105
3,28001579,2014-01-01 00:00:00,Communal,Masculin,Population occupée agée de 15 ans et plus,Nord Est,789056
4,28001579,2014-01-01 00:00:00,Communal,Masculin,Agriculture et peche,Nord Est,30793

In [9]:
df["Secteur d''activité: Nom"].values

array(['Education, Santé et services administratifs', 'Autres services',
       'Non Declaré', ..., 'Education, Santé et services administratifs',
       'Autres services', 'Non Declaré'], dtype=object)

In [15]:
df["Secteur d''activité: Nom"] = df["Secteur d''activité: Nom"].apply(lambda x: 'Education Santé et services administratifs' if x == 'Education, Santé et services administratifs' else x)

In [19]:
df.head()

,Indicateurs: Clé,Date,MIlieu,Sexe,Secteur d''activité: Nom,Régions: Nom,Faits: Valeur
0,28001579,2014-01-01 00:00:00,Rural,Féminin,Education Santé et services administratifs,Nord Est,9325
1,28001579,2014-01-01 00:00:00,Rural,Féminin,Autres services,Nord Est,5220
2,28001579,2014-01-01 00:00:00,Rural,Féminin,Non Declaré,Nord Est,105
3,28001579,2014-01-01 00:00:00,Communal,Masculin,Population occupée agée de 15 ans et plus,Nord Est,789056
4,28001579,2014-01-01 00:00:00,Communal,Masculin,Agriculture et peche,Nord Est,30793

In [27]:
df = df[~df["Secteur d''activité: Nom"].str.contains(
    "Population occupée agée de 15 ans et plus",
    case=False, na=False
)]


df = df[~df["Secteur d''activité: Nom"].str.contains(
    "Non Declaré",
    case=False, na=False
)]

In [28]:
df.to_csv('Fin-Emploi-parSecteur-DATASET.csv')