In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Migration-Dataset.csv')

In [5]:
df

,Unnamed: 0,date,Régions,Milieu,Sexe,raison,POPULATION
0,0,2014-01-01 00:00:00,Tunisie,Communal,Masculin,Emploi,63996
1,1,2014-01-01 00:00:01,Tunisie,Communal,Féminin,Emploi,30139
2,2,2014-01-01 00:00:02,Tunisie,Rural,Masculin,Emploi,15831
3,3,2014-01-01 00:00:03,Tunisie,Rural,Féminin,Emploi,8258
4,4,2014-01-01 00:00:04,Nord Est,Communal,Masculin,Emploi,22067
...,...,...,...,...,...,...,...
691,111,2014-01-01 00:00:691,Gouvernorat de Gafsa,Rural,Féminin,Autres,159
692,112,2014-01-01 00:00:692,Gouvernorat de Tozeur,Communal,Masculin,Autres,70
693,113,2014-01-01 00:00:693,Gouvernorat de Tozeur,Communal,Féminin,Autres,62
694,114,2014-01-01 00:00:694,Gouvernorat de Tozeur,Rural,Masculin,Autres,9
695,115,2014-01-01 00:00:695,Gouvernorat de Tozeur,Rural,Féminin,Autres,7

In [6]:
df.isnull().sum()

Unnamed: 0    0
date          0
Régions       0
Milieu        0
Sexe          0
raison        0
POPULATION    0
dtype: int64

In [10]:
df['date'] = '2014-01-01 00:00:00'

In [13]:
df

,Unnamed: 0,date,Régions,Milieu,Sexe,raison,POPULATION
0,0,2014-01-01 00:00:00,Tunisie,Communal,Masculin,Emploi,63996
1,1,2014-01-01 00:00:00,Tunisie,Communal,Féminin,Emploi,30139
2,2,2014-01-01 00:00:00,Tunisie,Rural,Masculin,Emploi,15831
3,3,2014-01-01 00:00:00,Tunisie,Rural,Féminin,Emploi,8258
4,4,2014-01-01 00:00:00,Nord Est,Communal,Masculin,Emploi,22067
...,...,...,...,...,...,...,...
691,111,2014-01-01 00:00:00,Gouvernorat de Gafsa,Rural,Féminin,Autres,159
692,112,2014-01-01 00:00:00,Gouvernorat de Tozeur,Communal,Masculin,Autres,70
693,113,2014-01-01 00:00:00,Gouvernorat de Tozeur,Communal,Féminin,Autres,62
694,114,2014-01-01 00:00:00,Gouvernorat de Tozeur,Rural,Masculin,Autres,9
695,115,2014-01-01 00:00:00,Gouvernorat de Tozeur,Rural,Féminin,Autres,7

In [15]:
df.to_csv('Migration-Dataset2.csv')

In [7]:
df.drop(0, inplace=True)

In [9]:
df.iloc[0].values

array(['Régions', 'Milieu', 'Sexe', 'Emploi',
       'Acquisition de logement ou meilleur condition de vie', 'Mariage',
       'Accompagnement de la famille', 'Etudes', 'Autres'], dtype=object)

In [10]:
df.columns = df.iloc[0].values

In [11]:
df.head()

,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition de vie,Mariage,Accompagnement de la famille,Etudes,Autres
1,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition ...,Mariage,Accompagnement de la famille,Etudes,Autres
2,Tunisie,Communal,Masculin,63996,73917,56323,64224,19275,10346
3,Tunisie,Communal,Féminin,30139,48866,88487,110390,16363,9653
4,Tunisie,Rural,Masculin,15831,5089,9778,9662,2745,1030
5,Tunisie,Rural,Féminin,8258,3525,21046,15931,2233,1220

In [12]:
df.drop(1,inplace=True)

In [29]:
df.reset_index(drop=True, inplace=True)

In [35]:
df.head()

,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition de vie,Mariage,Accompagnement de la famille,Etudes,Autres
0,Tunisie,Communal,Masculin,63996,73917,56323,64224,19275,10346
1,Tunisie,Communal,Féminin,30139,48866,88487,110390,16363,9653
2,Tunisie,Rural,Masculin,15831,5089,9778,9662,2745,1030
3,Tunisie,Rural,Féminin,8258,3525,21046,15931,2233,1220
4,Nord Est,Communal,Masculin,22067,46841,29627,34307,6062,5402

In [37]:
df.to_excel('migration-dataset.xlsx')