In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('mig.xlsx')

In [4]:
df

,45973,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Régions,Milieu,Sexe,2014,2014,2014,2014,2014,2014
1,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition ...,Mariage,Accompagnement de la famille,Etudes,Autres
2,Tunisie,Communal,Masculin,63996,73917,56323,64224,19275,10346
3,Tunisie,Communal,Féminin,30139,48866,88487,110390,16363,9653
4,Tunisie,Rural,Masculin,15831,5089,9778,9662,2745,1030
...,...,...,...,...,...,...,...,...,...
113,Gouvernorat de Gafsa,Rural,Féminin,862,295,1736,1702,609,159
114,Gouvernorat de Tozeur,Communal,Masculin,630,203,349,447,313,70
115,Gouvernorat de Tozeur,Communal,Féminin,258,137,820,738,206,62
116,Gouvernorat de Tozeur,Rural,Masculin,97,35,79,46,33,9
117,Gouvernorat de Tozeur,Rural,Féminin,38,21,202,67,24,7

In [5]:
df.isnull().sum()

45973         0
Unnamed: 1    0
Unnamed: 2    0
Unnamed: 3    0
Unnamed: 4    0
Unnamed: 5    0
Unnamed: 6    0
Unnamed: 7    0
Unnamed: 8    0
dtype: int64

#### Drop the first row

In [7]:
df.drop(0, inplace=True)

#### Rename  the columns

In [9]:
df.iloc[0].values

array(['Régions', 'Milieu', 'Sexe', 'Emploi',
       'Acquisition de logement ou meilleur condition de vie', 'Mariage',
       'Accompagnement de la famille', 'Etudes', 'Autres'], dtype=object)

In [10]:
df.columns = df.iloc[0].values

In [11]:
df.head()

,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition de vie,Mariage,Accompagnement de la famille,Etudes,Autres
1,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition ...,Mariage,Accompagnement de la famille,Etudes,Autres
2,Tunisie,Communal,Masculin,63996,73917,56323,64224,19275,10346
3,Tunisie,Communal,Féminin,30139,48866,88487,110390,16363,9653
4,Tunisie,Rural,Masculin,15831,5089,9778,9662,2745,1030
5,Tunisie,Rural,Féminin,8258,3525,21046,15931,2233,1220

In [12]:
df.drop(1,inplace=True)

#### Reset the indexes to start from 0

In [29]:
df.reset_index(drop=True, inplace=True)

#### Load the cleaned Data

In [35]:
df.head()

,Régions,Milieu,Sexe,Emploi,Acquisition de logement ou meilleur condition de vie,Mariage,Accompagnement de la famille,Etudes,Autres
0,Tunisie,Communal,Masculin,63996,73917,56323,64224,19275,10346
1,Tunisie,Communal,Féminin,30139,48866,88487,110390,16363,9653
2,Tunisie,Rural,Masculin,15831,5089,9778,9662,2745,1030
3,Tunisie,Rural,Féminin,8258,3525,21046,15931,2233,1220
4,Nord Est,Communal,Masculin,22067,46841,29627,34307,6062,5402

In [37]:
df.to_excel('migration-dataset.xlsx')