In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Migration-Dataset - Sheet1.csv')

In [4]:
df

,Unnamed: 0,date,Régions,Milieu,Sexe,raison,POPULATION
0,0,2014-01-01 00:00:00,Tunisie,Communal,Masculin,Emploi,63996
1,1,2014-01-01 00:00:00,Tunisie,Communal,Féminin,Emploi,30139
2,2,2014-01-01 00:00:00,Tunisie,Rural,Masculin,Emploi,15831
3,3,2014-01-01 00:00:00,Tunisie,Rural,Féminin,Emploi,8258
4,4,2014-01-01 00:00:00,Nord Est,Communal,Masculin,Emploi,22067
...,...,...,...,...,...,...,...
691,111,NaN,Gouvernorat de Gafsa,Rural,Féminin,Autres,159
692,112,NaN,Gouvernorat de Tozeur,Communal,Masculin,Autres,70
693,113,NaN,Gouvernorat de Tozeur,Communal,Féminin,Autres,62
694,114,NaN,Gouvernorat de Tozeur,Rural,Masculin,Autres,9
695,115,NaN,Gouvernorat de Tozeur,Rural,Féminin,Autres,7

In [6]:
df['date'] = '2014-01-01 00:00:00'

In [7]:
df.tail()

,Unnamed: 0,date,Régions,Milieu,Sexe,raison,POPULATION
691,111,2014-01-01 00:00:00,Gouvernorat de Gafsa,Rural,Féminin,Autres,159
692,112,2014-01-01 00:00:00,Gouvernorat de Tozeur,Communal,Masculin,Autres,70
693,113,2014-01-01 00:00:00,Gouvernorat de Tozeur,Communal,Féminin,Autres,62
694,114,2014-01-01 00:00:00,Gouvernorat de Tozeur,Rural,Masculin,Autres,9
695,115,2014-01-01 00:00:00,Gouvernorat de Tozeur,Rural,Féminin,Autres,7

In [8]:
df.to_csv('fin-migration.csv')