In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Emploi-dataset.xlsx')

In [3]:
df

,Indicateurs: Clé,Date,MIlieu,Sexe,Secteur d''activité,Régions,population
0,28001579,2014-01-01 00:00:00,Communal,Masculin,Agriculture et peche,Tunisie,76872
1,28001579,2014-01-01 00:00:00,Communal,Masculin,Mines et énergie,Tunisie,40034
2,28001579,2014-01-01 00:00:00,Communal,Masculin,Industrie manufacturière,Tunisie,258838
3,28001579,2014-01-01 00:00:00,Communal,Masculin,Batiment et travaux publiques,Tunisie,265144
4,28001579,2014-01-01 00:00:00,Communal,Masculin,Commerce,Tunisie,273069
...,...,...,...,...,...,...,...
1075,28001579,2014-01-01 00:00:00,Rural,Féminin,Commerce,Gouvernorat de Kébili,186
1076,28001579,2014-01-01 00:00:00,Rural,Féminin,Transport,Gouvernorat de Kébili,95
1077,28001579,2014-01-01 00:00:00,Rural,Féminin,"Education, Santé et services administratifs",Gouvernorat de Kébili,702
1078,28001579,2014-01-01 00:00:00,Rural,Féminin,Autres services,Gouvernorat de Kébili,90
1079,28001579,2014-01-01 00:00:00,Rural,Féminin,Non Declaré,Gouvernorat de Kébili,8

In [4]:
df.columns = ['Indicateurs', 'date', 'milieu', 'sexe', 'secteuract', 'region', 'population']

In [5]:
df.columns

Index(['Indicateurs', 'date', 'milieu', 'sexe', 'secteuract', 'region',
       'population'],
      dtype='object')

In [6]:
df['secteuract']

0                              Agriculture et peche
1                                 Mines  et énergie
2                          Industrie manufacturière
3                     Batiment et travaux publiques
4                                          Commerce
                           ...
1075                                       Commerce
1076                                      Transport
1077    Education, Santé et services administratifs
1078                                Autres services
1079                                    Non Declaré
Name: secteuract, Length: 1080, dtype: object

In [7]:
df.head()

,Indicateurs,date,milieu,sexe,secteuract,region,population
0,28001579,2014-01-01 00:00:00,Communal,Masculin,Agriculture et peche,Tunisie,76872
1,28001579,2014-01-01 00:00:00,Communal,Masculin,Mines et énergie,Tunisie,40034
2,28001579,2014-01-01 00:00:00,Communal,Masculin,Industrie manufacturière,Tunisie,258838
3,28001579,2014-01-01 00:00:00,Communal,Masculin,Batiment et travaux publiques,Tunisie,265144
4,28001579,2014-01-01 00:00:00,Communal,Masculin,Commerce,Tunisie,273069

In [8]:
sum(df['secteuract'] == "'Education, Santé et services administratifs'")

0

In [15]:
df['secteuract'] = df['secteuract'].apply(lambda x: 'Education Santé et services administratifs' if x == "'Education, Santé et services administratifs'" else x)

In [16]:
sum(df['secteuract'] == "'Education, Santé et services administratifs'")

0

In [17]:
df

,Indicateurs,date,milieu,sexe,secteuract,region,population
0,28001579,2014-01-01 00:00:00,Communal,Masculin,'Agriculture et peche',Tunisie,76872
1,28001579,2014-01-01 00:00:00,Communal,Masculin,'Mines et énergie',Tunisie,40034
2,28001579,2014-01-01 00:00:00,Communal,Masculin,'Industrie manufacturière',Tunisie,258838
3,28001579,2014-01-01 00:00:00,Communal,Masculin,'Batiment et travaux publiques',Tunisie,265144
4,28001579,2014-01-01 00:00:00,Communal,Masculin,'Commerce',Tunisie,273069
...,...,...,...,...,...,...,...
1075,28001579,2014-01-01 00:00:00,Rural,Féminin,'Commerce',Gouvernorat de Kébili,186
1076,28001579,2014-01-01 00:00:00,Rural,Féminin,'Transport',Gouvernorat de Kébili,95
1077,28001579,2014-01-01 00:00:00,Rural,Féminin,Education Santé et services administratifs,Gouvernorat de Kébili,702
1078,28001579,2014-01-01 00:00:00,Rural,Féminin,'Autres services',Gouvernorat de Kébili,90
1079,28001579,2014-01-01 00:00:00,Rural,Féminin,'Non Declaré',Gouvernorat de Kébili,8

In [18]:
df['secteuract'] = df['secteuract'].apply(lambda x:f"'{x}'")

In [19]:
df

,Indicateurs,date,milieu,sexe,secteuract,region,population
0,28001579,2014-01-01 00:00:00,Communal,Masculin,''Agriculture et peche'',Tunisie,76872
1,28001579,2014-01-01 00:00:00,Communal,Masculin,''Mines et énergie'',Tunisie,40034
2,28001579,2014-01-01 00:00:00,Communal,Masculin,''Industrie manufacturière'',Tunisie,258838
3,28001579,2014-01-01 00:00:00,Communal,Masculin,''Batiment et travaux publiques'',Tunisie,265144
4,28001579,2014-01-01 00:00:00,Communal,Masculin,''Commerce'',Tunisie,273069
...,...,...,...,...,...,...,...
1075,28001579,2014-01-01 00:00:00,Rural,Féminin,''Commerce'',Gouvernorat de Kébili,186
1076,28001579,2014-01-01 00:00:00,Rural,Féminin,''Transport'',Gouvernorat de Kébili,95
1077,28001579,2014-01-01 00:00:00,Rural,Féminin,'Education Santé et services administratifs',Gouvernorat de Kébili,702
1078,28001579,2014-01-01 00:00:00,Rural,Féminin,''Autres services'',Gouvernorat de Kébili,90
1079,28001579,2014-01-01 00:00:00,Rural,Féminin,''Non Declaré'',Gouvernorat de Kébili,8

In [21]:
df.to_csv('Emploi-dataset.csv')